{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>Scanning Page</h1>
  {% comment %} <label for="ip_address">IP Address:</label> {% endcomment %} 
  {%comment %}
  <form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
  {% endcomment %}
  <form id="scan-form">
    <div class="row">
      {% for field in form %}
      <div class="form-group col-4">
        <label class="col-12">{{ field.label }}</label>
        {{ field }}
      </div>
      {% endfor %}
      <input type="submit" class="btn btn-primary" value="Start" />
    </div>
  </form>
</div>
{% endblock %}
